# Adds Markdown to languages bar
*.md linguist-language=Markdown
*.md linguist-detectable=true
# Adds YAML
.github/* linguist-vendored=false
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
*.yaml linguist-detectable=true
*.yml linguist-detectable=true
