# Adds Markdown to languages bar
*.md linguist-language=Markdown
*.md linguist-detectable=true
# Adds YAML
.github/*.yml linguist-vendored=false
.github/*.yaml linguist-vendored=false
.github/workflows/*.yml linguist-vendored=false
.github/workflows/*.yaml linguist-vendored=false
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
*.yaml linguist-detectable=true
*.yml linguist-detectable=true
